@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  height: 100vh;
  width: 100vw;
}

.bird {
  height: 100px;
  width: 160px;
  position: fixed;
  top: 40vh;
  left: 30vw;
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cloud {
  position: fixed;
  top: 30vh;
  left: 100vw;
  height: 25vh;
  width: 25vw;
}

.message {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 40px;
  font-family: 'Staatliches';
  color: rgb(0, 0, 0);
  top: 15vh;
  left: 20vw;
  text-align: center;

}

.message p {
  font-family: 'Montserrat';
  font-size: 20px;
}

.score {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 30px;
  font-family: 'Staatliches';
  color: rgb(0, 0, 0);
  top: 5vh;
  left: 10vw;
}

.score_val {
  color: rgb(0, 0, 0);
  font-family: 'Staatliches';
  font-size: 50px;
  margin-left: 10px;
}

@media only screen and (max-width: 480px) {

  .bird {
    left: 2vw;
  }

  .pipe_sprite {
    width: 10vw;
  }

}