@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: auto;
  display: flex;
  background-color: rgb(45, 45, 45);
  background-image: url('resources/bgstart.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  overflow: hidden;
}

.menu {
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signin {
  display: flex;
}

.signin p {
  margin-right: 20px;
  font-family: 'Staatliches';
  font-size: 25px;
}

button {
  background-color: rgb(247, 241, 231);
  border: 2px solid black;
  cursor: pointer;
}

.menu button {
  margin-right: 20px;
  height: 30px;
  width: 100px;
  font-family: 'Staatliches';
  font-size: 20px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.719);
  color: rgb(247, 241, 231);
}

.dropdown-content-in,
.dropdown-content-up {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 350px;
  right: 100px;
  margin-top: 20px;
  border: 2px solid black;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content-in input,
.dropdown-content-up input {
  font-family: 'Montserrat';
  padding: 5px;
  margin: 5px;
}

#login-form-submit,
#signup-form-submit {
  background-color: rgb(247, 241, 231);
  border: 2px solid black;
  padding: 5px 25px;
  width: 100px;
  font-family: 'Staatliches';
  font-size: 20px;
  cursor: pointer;
}

#login-form-submit:hover,
#signup-form-submit:hover {
  background-color: rgba(0, 0, 0, 0.719);
  color: rgb(247, 241, 231);

}

#errormessage-in,
#errormessage-up {
  font-size: 12px;
  font-family: 'Montserrat';
  color: red;
}

.menu h1 {
  margin-left: 40px;
  margin-top: 20px;
  font-family: 'Staatliches';
  font-size: 55px;
  color: rgb(0, 0, 0);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80%;
}

.statistics {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leaderboard {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(0, 0, 0);
  padding: 30px 50px;
  margin-bottom: 70px;
}

.leaderboard h2 {
  font-family: 'Staatliches';
  color: rgb(0, 0, 0);
  font-size: 35px;
  padding-bottom: 30px;
}

.leaderboard ul {
  list-style: decimal;
  line-height: 1.8;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 600;
  margin-left: 15px;
  color: rgb(0, 0, 0);
}

.leaderboard li:first-child {
  color: rgb(234, 199, 0);
}

.leaderboard li:nth-child(2) {
  color: rgb(158, 158, 158);
}

.leaderboard li:nth-child(3) {
  color: rgb(114, 88, 27);
}

.totalFlaps {
  border: 3px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-family: 'Montserrat';
  font-size: 12px;
  color: rgb(0, 0, 0);
  padding: 15px;
}

.totalFlaps h2 {
  display: inline;
}

.totalFlaps h2:nth-child(2) {
  margin-left: 10px;
  font-size: 25px;
  font-family: 'Staatliches';
}

.start-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.start-game button {
  padding: 10px;
  font-family: 'Staatliches';
  font-size: 23px;
  cursor: url('./resources/plane.png') 2 2, pointer;
}

img {
  height: 500px;
  width: 500px;
}

@media only screen and (max-width: 480px) {

  .menu h1 {
    font-size: 25px;
  }

  .menu button {
    font-size: 14px;
    height: 30px;
    width: 50px;
  }

  .leaderboard {
    padding: 15px;
    margin-top: 60px;
  }

  .leaderboard h2 {
    font-size: 20px;
  }

  .leaderboard ul {
    margin-left: 15px;
    font-size: 15px;
    line-height: 2.5;
  }

  .totalFlaps {
    margin-left: 30px;
    font-size: 15px;
  }

  img {
    height: 200px;
    width: 200px;
  }

}