@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(45, 45, 45);
  background-image: url('resources/firewatchStandard.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  box-shadow: inset 400px 400px 400px 400px rgba(0, 0, 0, .3);
  overflow: hidden;
}

.bird {
  height: 100px;
  width: 160px;
  position: fixed;
  top: 40vh;
  left: 30vw;
  z-index: 100;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all             */
  -ms-user-select: none;
  /* Internet Explorer  10+  */
  user-select: none;
  /* Likely future           */
}

.pipe_sprite {
  position: fixed;
  top: 40vh;
  left: 100vw;
  height: 70vh;
  width: 6vw;
  background-color: transparent;
  border: 2px solid whitesmoke;
}

.message {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 35px;
  font-family: 'Bree Serif';
  color: whitesmoke;
  top: 12vh;
  left: 20vw;
  text-align: center;
}

.score {
  position: fixed;
  z-index: 10;
  height: 10vh;
  font-size: 20px;
  font-family: 'Staatliches';
  color: whitesmoke;
  top: 5vh;
  left: 10vw;
}

.score_val {
  color: whitesmoke;
  font-family: 'Square Peg';
  font-size: 40px;
}

@media only screen and (max-width: 480px) {

  .bird {
    left: 2vw;
  }

  .pipe_sprite {
    width: 10vw;
  }

}